.multiCol {
    display: table;
    table-layout: fixed; 
    width: 100%;
    text-align: center; 
    .col {
        display: table-cell;
        vertical-align: middle;
        width: 50%;
        padding: 2% 0 2% 3%; 
        &:first-of-type { padding-left: 0; } 
    }
    .col img {
        margin: auto;
    }
}

.slidev-layout.default h1::before, .slidev-layout.two-columns h1::before, .slidev-layout[layout="default"] h1::before {background: var(--slidev-theme-accents-blue);}
.slidev-layout.default h2::before, .slidev-layout.two-columns h2::before, .slidev-layout[layout="default"] h2::before {background: var(--slidev-theme-accents-yellow);}

h2 {
    background: var(--slidev-theme-accents-yellow);
    transform: rotate(-1deg);
    color: var(--slidev-theme-default-headingColor);
    margin-left: -0.25em;
    margin-top: -0.25em;
    box-shadow: var(--slidev-theme-header-shadow);
    display: inline-block;
    padding: 0.25em;
    position: relative;
    margin-bottom: 1em;
    z-index: 1;
}    

.slidev-layout h1 { font-size: 2.5rem; }
.slidev-layout h2 { font-size: 2.0rem; }
.slidev-layout h3 { font-size: 1.85rem; }
.slidev-layout blockquote { font-size: 1.1em;  white-space: normal; }
.slidev-layout li { line-height: 2.0rem; font-size: 1.5rem; }

.slidev-layout th {
    text-align: left;
    padding: 0.2em 0.5em 0.2em 0.5em;
    border-bottom: 1px solid;
    font-weight: bold;
    font-size: 1.5rem;
}

.slidev-layout td {
    text-align: left;
    padding: 0.2em 0.5em 0.2em 0.5em;
    border-bottom: 1px solid;
    font-size: 1rem;
}

.slidev-layout table {
    padding-top: 2em;
    border-collapse: collapse;
    width: 85%;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

div.twitter-tweet-rendered {
    min-width: 500px;
}

:root {
    --slidev-theme-font-size: 1.7em;
}